*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
stoic2021-main/training/pretrained_weights/* filter=lfs diff=lfs merge=lfs -text
